<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style-book.css' %}">
</head>
<body>
    <div class="container">
        <div class="user_panel">
            {% if user.is_authenticated %}
        <span class="username">Zalogowany użytkownik:<strong> {{ user.username }}</strong></span>
        <a href="/logout">Logout</a>
        {% else %}
        <a class="login-link" href="/login">Login</a>
        {% endif %}
        </div>
        <a class="home-button" href="{% url 'home' %}">Powrót do strony głównej</a>
        <!-- Display saved books -->
        <h2>Saved Books</h2>
        <div class="book-list">
            {% for saved_book in saved_books %}
            <!-- Display book details from the database -->
            <div class="book-item">
                <img src="{{ saved_book.image }}" alt="{{ saved_book.title }}">
                <div class="book-details">
                    <h3>{{ saved_book.title }}</h3>
                    <p>Author(s): {{ saved_book.authors }}</p>
                    <p>Category: {{ saved_book.category }}</p>
                    <p>Language: {{ saved_book.language }}</p>
                    <p>{{ saved_book.description }}</p>
                    <form method="post" action="{% url 'remove_book' saved_book.id %}">
                        {% csrf_token %}
                        {% if user.is_superuser %}
                        <button class="remove-book-button" type="submit">Remove Book</button>
                        {% endif %}
                    </form>
                </div>
            </div>
            {% empty %}
            <p>No saved books found.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
