body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #ffffff;
}

.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #1e2852;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	color: #ffffff;
}

#form-title {
	color: #ffffff;
	text-align: center;
}

.form_container {
	margin-top: 20px;
}

.register_btn {
	width: 100%;
	background: #f7ba5b !important;
	color: #1e2852 !important;
}

.register_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.input-group-text {
	background: #f7ba5b !important;
	color: #1e2852 !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.links {
	color: #ffffff;
}

.links a {
	color: #f7ba5b;
	text-decoration: none;
}

.links a:hover {
	text-decoration: underline;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background: url("library-background.jpg") no-repeat center center / cover; */
	z-index: -1;
	opacity: 0.4;
}
