<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style-book.css' %}">
</head>
<body>
    <div class="container">
        <a class="home-button" href="{% url 'home' %}">Powrót do strony głównej</a>
        <!-- Display saved books -->
        <h2>Saved Books</h2>
        <div class="book-list">
            {% for saved_book in saved_books %}
            <!-- Display book details from the database -->
            <div class="book-item">
                <img src="{{ saved_book.image }}" alt="{{ saved_book.title }}">
                <div class="book-details">
                    <h3>{{ saved_book.title }}</h3>
                    <p>Author(s): {{ saved_book.authors }}</p>
                    <p>Category: {{ saved_book.category }}</p>
                    <p>Language: {{ saved_book.language }}</p>
                    <p>{{ saved_book.description }}</p>
                </div>
            </div>
            {% empty %}
            <p>No saved books found.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
